.footer {
  align-items: flex-end;
  background: var(--c1);
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  box-shadow: 4px 4px 28px 3px var(--e1);
  margin: 200px 8px 8px 8px;
  padding: 40px 0;
  font-weight: 700;
  font-size: 18px;
}

.footer__logo {
  width: clamp(100px, 40vw, 400px);
}

.footer__link {
  align-items: center;
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: var(--c6);
  margin-bottom: 12px;
}

.footer__link:nth-child() .footer__link:hover {
  color: var(--e1);
  text-decoration: underline;
}

.copyright {
  text-align: center;
}

.copyright img {
  margin-bottom: 40px;
}

@media (max-width: 1280px) {
  .footer {
    flex-direction: column;
  }
}
