@import url("global.css");
@import url("footer.css");
@import url("hero.css");
@import url("advantages.css");
@import url("swiper.css");
@import url("presentation.css");

:root {
  --e1: #ee6c22;
  --e2: #b64300;
  --e3: #38e900;
  --e4: #2e9110;
  --c1: #ffffff;
  --c2: #e7e6e6;
  --c3: #bfbfbf;
  --c4: #757474;
  --c5: #514c4c;
  --c6: #000000;

  --primary-font: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font-family: var(--primary-font);
}

body {
  margin: 0;
}

p,
h1,
h2,
h3,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.room-background {
  background: url("../assets/img/room.png") no-repeat;
  background-position: 35% 6.5%;
  background-size: 230%;
}
